@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
html[data-theme=light] {
  --background-color: #fff;
  --alternate-background-colour: #f7f7f9;
  --text-color: rgba(18,20,22,0.85);
  --btn-color: #212a2e;
  --btn-text : #fff;
}
html[data-theme=dark] {
  --background-color: #212a2e;
  --alternate-background-colour: #263238;
  --text-color: #f7f8f8; 
  --btn-color: #f7f7f9;
  --btn-text : var(--primary);
}
*{
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  background-color: var(--background-color);
  text-align: center;
}
input{
  background-color: var(--alternate-background-color);
  color: var(--text-color);
}
.logo_icon{
  width: 50px;
}
.mainPreview{
  display: grid;
  grid-template-columns: 1fr 5.5fr;
}
nav{
  background-color: var(--background-color);
  position: sticky;
  top: 0;
  width: 100%;
  padding: 3px 0;
  z-index: 1;
  box-shadow: 0 8px 6px -6px black;
}
.nav-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
.nav-body-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-box{
  background-color: white;
  padding: 10px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 0 1rem;
}
.logoHeading {
  color: var( --text-color);
  font-size: 1.8rem;
  font-family: 'Rubik', sans-serif;
}
.Search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 2.1rem;
  border-radius: 3px;
  background-color: var(--alternate-background-colour);
  color: var(--text-color);
  border: 1px solid rgba(0, 0, 0, 0.35);
}
.Search > input {
  margin: 5px;
  width: 100%;
  height: 1.8rem;
  border: none;
  outline: none;
}
.Search > button{
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 4px;
}
.bell-icon{
  color: gray;
  font-size: 1.2rem;
  padding-right: 3rem;
}
.sidebar{
  border-right: 1px solid gray;
  background-color: var(--background-color);
  padding: 10px;
  width: auto;
  height: 89vh;
  position: sticky;
  top: 50px;
  left: 0px;
}
.sidebar_element {
  font-size: 20px;
  color: var(--text-color);
  text-align: start;
  padding: 14px 0px;
}
.sidebar_element > span{
  margin-left: 10px;
}
.selected{
  font-weight: bold;
  color: thistle;
}
.AllVideos{
  background-color: var(--background-color);
  color: var(--text-color);
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem 0;
}
.videoCard{
  background-color: var(--alternate-background-colour);
  color: var(--text-color);
  width: min-content;
  cursor: pointer;
  padding: 5px;
  position: relative;
  margin: 5px;
}
.videoCard-playlist-text{
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: var(--text-color);
}
.videoCard:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title{
  font-size: 20px;
}
.detailArea{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.description{
  margin-top: 1rem;
  font-size: 16px;
}
.detailIconBox{
  font-size: 20px;
  display: flex;
  color: gray;
  margin-right: 50px;
}
.createPlaylist-btn{
  float: right;
  color: var(--primary);
  font-size: 17px;
  outline: navajowhite;
  border: none;
  background: transparent;
  margin: 7px;
  cursor: pointer;
}
.library_heading{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.library_body{
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.playlist_cover{
  position: absolute;
  width: 191px;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.55);
}
.library{
  width: 100%;
}
.Login-container{
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.Login-box{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.input-box-text{
  margin: 10px 10px;
  background-color: var(--alternate-background-colour);
  color: var(--text-color);
}
.input-box-text > input{
  padding: 10px;
  border: 1px solid black;
  padding-right: 39px;
  font-size: 16px;
  outline: none;
}
.input-box-password{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin:10px;
  background-color: var(--alternate-background-colour);
  color: var(--text-color);
}
.input-box-password > input{
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}
.password-state{
  margin: 0 5px;
}
.login-click-btn{
  padding: 10px 6.2rem;
  font-size: 18px;
  margin: 10px;
  background-color: orangered;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.signup-click-btn{
  padding: 10px 5.8rem;
  font-size: 18px;
  margin: 10px;
  background-color: orangered;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.playlistbox,.redirectbox{
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.8);
  z-index: 5;
  pointer-events: none;
}
.inner-pbox,.inner-rbox{
  margin: 0 1rem;
  padding: 1rem 2rem;
  background-color: var(--alternate-background-colour);
  color: var(--text-color);
  pointer-events: all;
}
.btn-rbox{
  border: 1px solid black;
  outline: none;
  padding: 5px 10px;
  font-size: 18px;
  color: rgb(19, 19, 94);
  background-color: white;
}
.btn-rbox:hover{
  background-color: rgb(19, 19, 94);
  color: white;
}
.blank-page-text{
  color: var(--text-color);
}
.history,.liked,.videoplayer{
  background-color: var(--background-color);
  color: var(--text-color);
}
.history-box,.watch-box,.liked-box{
  background-color: var(--alternate-background-colour);
  color: var(--text-color);
  display: flex;
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
}
.box-body{
  padding: 10px 0;
  margin-left: 10px;
  color: var(--text-color);
}
.login-btn{
  padding: 5px 10px;
  font-size: 16px;
  color: var(--btn-text);
  background-color: var(--btn-color);
  border: none;
  outline: none;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
}
.avatar-circleIcon{
  margin-left: 10px;
  cursor: pointer;
  padding: 11px 14px;
  border: 1px solid var(--primary);
  background-color: var(--btn-color);
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
}
.avatar-circleIcon > span{
  font-size: 24px;
  color: var(--btn-text);
}
.userDetails{
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.userForm{
  background-color: var(--alternate-background-colour);
  padding: 1rem;
}
.btn-update{
  cursor: pointer;
  color: black;
  background-color: yellow;
  outline: none;
  border: 1px solid black;
  font-size: 22px;
  padding: 1rem 3rem;
  margin: auto;
  font-weight: bold;
}
.user-textbox{
  margin: 5px 0;
  height: 2.3rem;
  padding-left: 5px;
  font-size: 22px;
  background-color: var(--alternate-background-colour);
  color: var(--text-color);
}
.btn-playlist-close{
  cursor: pointer;
  color: var(--text-color);
  font-size: 18px;
  border: none;
  outline: none;
  background-color: transparent;
}
.new-playlist{
  font-size: 16px;
  border: none;
  outline:none;
  border-bottom: 1px solid var(--text-color);
  display: block;
  margin: 10px 0;
}
.library_inner_headings{
  text-align: start;
  font-size: 20px;
  font-weight: bold;
  color: gray;
}
.user-detail_heading{
  font-weight: bold;
  font-size: 22px;
  margin: 5px 0;
}
@media only screen and (max-width: 768px) {
  .mainPreview,.AllVideos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav{
    height: 6rem;
  }
  .Search {
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 2.1rem;
    margin: auto;
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .bell-icon {
    padding-right: 1rem;
  }
  .sidebar{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
    top: inherit;
    height: fit-content;
    border-top: 1px solid gray;
  }
  .sidebar_element > span{
    display: none;
  }
  .title{
    word-break: break-all;
    margin-left: 10px;
  }
  .description{
    word-break: break-all;
    margin-left: 10px;
    margin-bottom: 4rem;
  }
  .detailArea{
    display: block;
    margin-left: 10px;
  }
  .detailIconBox{
    margin-right: 0;
    padding: 10px;
  }
  .playlist_cover{
    width: 66px;
    height: 91px;
  }
  .library{
    width: 86%;
    margin-bottom: 4rem;
  }
  .library_body{
    flex-wrap:nowrap;
    overflow: scroll;
    width: 100vw;
  }
  .Login-container{
    height: 80vh;
  }
  .Login-box{
    box-shadow: none;
    background: none;
    box-shadow: none;
    border: none;
    backdrop-filter: none;
  }
}